{%extends "layout.html"%}
{%block body%}
  <h1>Retrospective Activity: {{this.name}}</h1>
  <div>
    <p>Submit a comment</p>
    <form action="{{url_for("newComment", name=this.name)}}" method="post">
      <select name="type">
        <option value="good">Good<option>
        <option value="bad">Bad<option>
        <option value="suggestion">Suggestion<option>
        <option value="thanks">Thanks<option>
      </select>
      <input type="text" name="comment" id="comment"/>
      <input type="submit" value="submit"/>
    </form> 
  </div>
{%endblock%}
