<!doctype html>
<html>
  <head>
    <title>Retrospective Activity</title>
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
    <script>
      {%block script%}{%endblock%}
    </script>
  </head>
  <body>
    <div class="contentWrapper">
      {%block body%}{%endblock%}
    </div>
  </body>
</html>
