{%extends "layout.html"%}
{%block body%}
  <h1>Retrospective Activity: {{this.name}}</h1>
  <div class="retrospective">
    {% for t in this.COMMENT_TYPES %}
      <div class="quad {{t}}">
        <img src="/static/{{t}}.svg"/>
        {% for comment in this.comments[t] %}
          <p>{{comment}}</p>
        {% endfor %} 
      </div>
    {% endfor %} 
  </div>
{%endblock%}
{%block script%}
  window.onload=function(){
    var timeoutPeriod = 2000;
    setTimeout("location.reload(true);",timeoutPeriod);
  }
{%endblock%}
